{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Todo Application</title>

        <!-- On importe le CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
</head>
<body>
    <div class="form-group">
      <h1>To-Do <small>List</small></h1>

    <form action="add/" method="post" class="form-inline">{% csrf_token %}

      <input type="text" name="content">
      <input type="submit" value="Ajouter le Todo">
        
     </form>
    </div>

    <div></div>

    {% if todolist %}
      <ul class="list-unstyled" id="todo">
        {% for task in todolist %}
          <li>{{task.content}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucunes tâches dans votre Todo ! Ajoutez-en une</p>
    {% endif %}

</body>
</html>